/* Estilos para o corpo da página */
body {
    margin: 0; /* Remove as margens padrão do corpo da página */
    font-family: 'Open Sans', sans-serif; /* Define a fonte padrão para o corpo da página */
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%); /* Define um fundo com gradiente linear */
}

/* Estilos para a classe .page */
.page {
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    padding-top: 65px;
    width: 1000px; /* Define a largura do elemento */
}

/* Estilos para a navegação */
nav {
    display: flex;
    justify-content: space-between; /* Distância igual entre os itens */
    align-items: center;
    margin-bottom: 55px;
}

/* Estilos para a lista não ordenada */
ul {
    display: flex;
    gap: 48px; /* Distância igual entre os itens (sem bordas) */
    list-style-type: none; /* Não mostrar os pontos da lista */
    margin: 0;
    padding: 0;
}

/* Estilos para os links */
a {
    text-decoration: none;
}

/* Estilos para a seção principal */
main {
    display: flex;
    align-items: center; /* Mesmo alinhamento vertical */
    justify-content: space-between; /* Um para cada lado */
}

/* Estilos para os botões */
button {
    color: white;
    text-transform: uppercase; /* Transforma o texto em maiúsculo */
    align-content: center;
    border: 0;
    padding: 14px 32px 15px;
    gap: 10px;
    background: #69B99D;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0c6e4c; /* Muda a cor do ponto quando passa o mouse */
}

/* Estilos para o rodapé */
footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

/* Estilos para os elementos h1 e ul */
h1, ul {
   font-family: "Mulish", sans-serif;
}

/* Estilos para os links da lista quando hover */
ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

/* Estilos para os links da lista */
ul li a {
    opacity: 0.5;
}

/* Estilos para o elemento span */
span {
    color: #89c5cc;
}
